/* forked from: https://github.com/quantumfate/wofi/blob/main/src/mocha/style.css */

@define-color	rosewater  rgb(245, 224, 220);
@define-color	flamingo  rgb(242, 205, 205);
@define-color	pink  rgb(245, 194, 231);
@define-color	mauve  rgb(203, 166, 247);
@define-color	red  rgb(243, 139, 168);
@define-color	maroon  rgb(235, 160, 172);
@define-color	peach  rgb(250, 179, 135);
@define-color	yellow  rgb(249, 226, 175);
@define-color	green  rgb(166, 227, 161);
@define-color	teal  rgb(148, 226, 213);
@define-color	sky  rgb(137, 220, 235);
@define-color	sapphire  rgb(116, 199, 236);
@define-color	blue  rgb(137, 180, 250);
@define-color	lavender  rgb(180, 190, 254);
@define-color	text  rgb(205, 214, 244);
@define-color	subtext1  rgb(186, 194, 222);
@define-color	subtext0  rgb(166, 173, 200);
@define-color	overlay2  rgb(147, 153, 178);
@define-color	overlay1  rgb(127, 132, 156);
@define-color	overlay0  rgb(108, 112, 134);
@define-color	surface2  rgb(88, 91, 112);
@define-color	surface1  rgb(69, 71, 90);
@define-color	surface0  rgb(49, 50, 68);
@define-color	base  rgba(30, 30, 46, 0.5);
@define-color	mantle  rgb(24, 24, 37);
@define-color	crust  rgba(17, 17, 27, 0.6);

* {
  font-family: 'FiraCode Nerd Font Propo', monospace;
  font-size: 24px;
}

:focus {
   outline: none;
}

/* Window */
window {
  margin: 0px;
  padding: 10px;
  /* border: 0.16em solid @lavender; */
  border-radius: 10px;
  background-color: @base;
  backdrop-filter: blur(10px);
  animation: slideIn 0.5s ease-in-out both;
}

/* Slide In */
@keyframes slideIn {
  0% {
     opacity: 0;
  }

  100% {
     opacity: 1;
  }
}

/* Inner Box */
#inner-box {
  margin: 5px;
  padding: 10px;
  border: none;
  /* background-color: @base; */
  animation: fadeIn 0.5s ease-in-out both;
}

/* Fade In */
@keyframes fadeIn {
  0% {
     opacity: 0;
  }

  100% {
     opacity: 1;
  }
}

/* Outer Box */
#outer-box {
  margin: 5px;
  padding: 10px;
  border: none;
  /* background-color: @base; */
}

/* Scroll */
#scroll {
  margin: 0px;
  padding: 10px;
  border: none;
  /* background-color: @base; */
}

/* Input */
#input {
  margin: 5px 20px;
  padding: 10px;
  border: none;
  border-radius: 10px;
  color: @text;
  background-color: rgba(0,0,0,0);
  animation: fadeIn 0.5s ease-in-out both;
}

#input:selected {
     outline: none;
}

#input image {
    border: none;
    color: @red;
}


/* Text */
text {
  margin: 5px;
  border: none;
  color: @text;
  animation: fadeIn 0.5s ease-in-out both;
}

#entry {
   /* background-color: @base; */
}

#entry arrow {
  border: none;
  color: @lavender;
}

/* Selected Entry */
#entry:selected {
  /* border: 0.11em solid @lavender; */
  /* border: 0 none @lavender; */
  border-radius : 10px;
  /* border: 0; */
  background-color: @crust;
}

#entry:selected #text {
  color: @mauve;
}

#entry:drop(active) {
  background-color: @lavender!important;
}

/* Center thumbnails for image entries */
#img {
  margin-left: auto;
  margin-right: auto;
}
